<!DOCTYPE html>
<html>
    <head>
        <title>Administrar almacenes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css" type="text/css" />
    </head>
    <body>
        <section id="almacenes">
            <header><h1>Almacenes</h1></header>
        <section>
            <div id="form">
                <table>
                    <tr><td>Descripción:</td><td><input type="text" id="inp-descripcion"></td></tr>
                    <tr><td>Activo:</td><td><input type="checkbox" id='inp-activo' checked></td></tr>
                    <tr><td>Limpiar<input type="radio" id='inp-limpiar'></td><td><button id="cmd-guardar">Guardar</button>
                            <input type="hidden" id="inp-idAlmacen"></td></tr>
                </table>                
            </div>
            <div id="buscar">
                    <input type="text" id="inp-busqueda">
                    <button id="bt-buscar">Buscar</button>
            </div>            
        </section>
            <center>
            <section id="content"> 
                <table id="tableAlmacenes">
                    <thead>
                    <th>Descripción</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                    </thead>
                    <tbody id="lista-almacenes"></tbody>
                </table> 
            </section>
                <div id="notificacion"></div>
            </center>
        </section>

      <!-- Plantillas -->
        <script type='template' id='template-almacen'>
                    <td class='alm-desc'><%- descripcion %></td>
                    <td class='alm-act'>
                    <center>
                        <% if( activo == true ){ %>
                            <input type="checkbox" id='inp-activo' checked>
                        <% } else { %>
                         <input type="checkbox" id='inp-activo'> 
                        <% } %>
                    </center>
                    </td>
                    <td class='alm-boton'>
                       <center> <button id='<%- idAlmacen%>' class='cmd-edit'>Editar</button>
                        <button id='<%- idAlmacen%>' class='cmd-delete'>Eliminar</button> </center>
                    </td>
        </script>
        
      <!-- Dependencias Javascript -->
      <script src='js/jquery-min.js'></script>
      <script src='js/underscore-min.js'></script>
      <script src='js/backbone-min.js'></script>
      <script src='js/almacen.js'></script>
    </body>
</html>
