#form{
    display: inline-block;
    float: left;
}
#buscar{
    display: inline-block;
    float: right;
}
#notificacion{
    display:none;
    color: blue;
    position: absolute;
    text-align: center;
}
#content{
    width: 90%;
    display: inline-block;
    max-width: 900px;
    margin: 2% 10% 2px 5%;
    clear: both;
}
#tableAlmacenes{
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    width: 95%;
    border-radius: 5px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
